{% extends 'base.html' %}
{% block content %}

    <table class="egt"  border-collapse=separate border="2" WIDTH="900" HEIGHT="50" bordercolor="#D933FF" > 

		<thead >
			<tr>
				<br>
				<th >Nombre</th>
				<th >Precio</th>
				<th >Accion</th>

			</tr>
		</thead>
		<tbody>
			{% if productos %}
			{% for producto in productos %}
				<tr>
					<td>{{ producto.nombre }}</td>
					<td>{{ producto.precio }}</td>
					<td>
						<a  href="{% url 'actualizar-producto' producto.id%}">Editar</a>
						<a  href="{% url 'eliminar-producto' producto.id%}">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
			{% else %}
				<h1>No hay Productos</h1>
			{% endif %}
		</tbody>
	</table>

	
{% endblock %}
